<div id="<%= dom_id question %>">
  <p>
    <strong>Content:</strong>
    <%= question.content %>
  </p>

  <p>
    <strong>Survey:</strong>
    <%= question.survey_id %>
  </p>

  <p>
    <strong>Answer:</strong>
    <%= question.answer %>
  </p>

</div>
